<nav class="navbar" style="position: sticky; top: 0; background: linear-gradient(to bottom, #333, #000); color: white; padding: 10px 0; z-index: 100;">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="navbar-brand">
            <div class="navbar-logo">
                <span class="navbar-logo-text">BankaMVC</span>
            </div>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-nav d-flex" style="flex-direction: row-reverse;">
                <li class="nav-item">
                    <a href="#" class="nav-link">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Hakkımızda</a>
                </li>
                <!-- Diğer menü öğeleri -->
            </ul>
        </div>
        <div class="navbar-user">
            <div class="navbar-logo">
                <span class="navbar-logo-text">Proje Bank</span>
            </div>
        </div>
    </div>
</nav>